body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

nav a {
  background-color: rgb(243,23,0,0.7);
  padding-left: 10px;
  padding-right: 10px;
}
#details {
  background-color: #f81700;
  display: flex;
  justify-content: space-around;
}
